
@{
    @Styles.Render("~/Content/education")
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(Resources.Resource.Home, "Index", "Home")
        </li>
        <li>
            @Html.ActionLink(Resources.Resource.Education, "Education", "Education")
        </li>
        <li class="active">@ViewBag.EducationResourseTitle</li>
    </ol>
</div>

<div class="container">
    <div class="row rowcurrent">
        <h2>Программа семинара 2018</h2><br>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
                <h3>Course of lectures by Dr. Mikalai Yatskou</h3><br>
                    <p>
                        Gene Expression of Secondary Messengers and Replicates. <br />
                        <strong>Speaker:</strong> Natalia Chehovich (PhD student), Natalia Chehovich (PhD student),Natalia Chehovich (PhD student)
                    </p>
                <a href="~/img/DSC_3546.JPG">Download document...</a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
                <h3>Course of lectures by Dr. Victor Skakun</h3><br>
                <p>
                    Gene Expression of Secondary Messengers and Replicates. <br />
                    <strong>Speaker:</strong> Natalia Chehovich (PhD student)
                </p>
                <a href="~/img/DSC_3546.JPG">Download document...</a>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
                <h3>Course of lectures by Anatoly Digris</h3><br>
                <p>
                    Genomic and Molecular Genetic Directions in the Area of Infectology. <br />
                    <strong>Speaker:</strong> Acad. Prof. Dr. Leonid Titov
                </p>
                <a href="~/img/DSC_3546.JPG">Download document...</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
                <h3>Course of lectures by Dr. Mikalai Yatskou</h3><br>
                <p>
                    Gene Expression of Secondary Messengers and Replicates. <br />
                    <strong>Speaker:</strong> Natalia Chehovich (PhD student)
                </p>
                <a href="~/img/DSC_3546.JPG">Download document...</a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
                <h3>Course of lectures by Dr. Victor Skakun</h3><br>
                                                                <p>
                                                                    Gene Expression of Secondary Messengers and Replicates. <br />
                                                                    <strong>Speaker:</strong> Natalia Chehovich (PhD student), Natalia Chehovich (PhD student)
                                                                </p>
                <a href="~/img/DSC_3546.JPG">Download document...</a>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
                <h3>Course of lectures by Anatoly Digris</h3><br>
                <p>
                    Genomic and Molecular Genetic Directions in the Area of Infectology. <br />
                    <strong>Speaker:</strong> Acad. Prof. Dr. Leonid Titov
                </p>
                <a href="~/img/DSC_3546.JPG">Download document...</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
                <h3>Course of lectures by Dr. Mikalai Yatskou</h3><br>
                                                                  <p>
                                                                      Gene Expression of Secondary Messengers and Replicates. <br />
                                                                      <strong>Speaker:</strong> Natalia Chehovich (PhD student),Natalia Chehovich (PhD student)Natalia Chehovich (PhD student)
                                                                  </p>
                <a href="~/img/DSC_3546.JPG">Download document...</a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
                <h3>Course of lectures by Dr. Victor Skakun</h3><br>
                <p>
                    Gene Expression of Secondary Messengers and Replicates. <br />
                    <strong>Speaker:</strong> Natalia Chehovich (PhD student)
                </p>
                <a href="~/img/DSC_3546.JPG">Download document...</a>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
                <h3>Course of lectures by Anatoly Digris</h3><br>
                <p>
                    Genomic and Molecular Genetic Directions in the Area of Infectology. <br />
                    <strong>Speaker:</strong> Acad. Prof. Dr. Leonid Titov
                </p>
                <a href="~/img/DSC_3546.JPG">Download document...</a>
            </div>
        </div>
    </div>
    <div class="row rowcurrent">
        <h2>Программа семинара 2016</h2><br>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
            <h3>Course of lectures by Vladimir Lutkovski</h3><br>
            <p>Artificial Neural Network Modification of Simulation-Based Fitting: Application to a Protein-Lipid System. <strong>Speaker:</strong> Petr Nazarov (PhD student)</p>
            <a href="~/img/DSC_3546.JPG">Download document...</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
            <h3>Course of lectures by Pavel Korjukou</h3><br>
            <p>Software GeneExpressionAnalyser for analysis of DNA microarrays. 
            <br /><strong>Speaker:</strong> Saechnikov Anton (PhD student)</p>
            <a href="~/img/DSC_3546.JPG">Download document...</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
            <h3>Course of lectures by Dr. Stanislau Hileuski</h3><br>
            <p>An algorithm for Automated Segmenting the Cancer Cell Borders in the Three-Channel Fluorescence Images. 
            <br /><strong>Speaker:</strong> Lisistsa E.V., Skakun V.V.</p>
            <a href="~/img/DSC_3546.JPG">Download document...</a>
        </div>
    </div>
</div>