@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Fira+Sans+Condensed:300,400,500,600,700,700i,900');
/*#010659 #011759 #0a3772 #254e72 #f2f2f2*/
@media screen and (max-width: 1200px) {
  .row2 {
    text-align: center;
  }
  .row2 img {
    padding-bottom: 20px;
  }
  .row2 h4 {
    clear: both;
  }
}
* {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
  min-width: 900px;
}
.header {
  background-color: #0A366D;
  padding-top: 20px;
  padding-bottom: 30px;
}
.header .container .logo {
  width: 225px;
  height: 100px;
  background-image: url(../img/BSU.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
  float: left;
}
.header .container .signin {
  float: right;
  margin-top: 35px;
  margin-right: 35px;
}
.header .container .lang {
  width: 50px;
  float: right;
  margin-top: 10px;
  list-style: none;
}
.header .container .lang i {
  color: #d0d0d0;
  position: absolute;
}
.header .container .lang i li {
  display: none;
  font-size: 20px;
  border: 1px solid black;
  font-size: 15px;
  text-align: -webkit-center;
  text-decoration: none;
  background-repeat: no-repeat;
  margin-bottom: 1px;
}
.header .container .lang i li a {
  display: block;
  color: #337ab7;
  width: 45px;
  height: 22px;
}
.header .container .lang i .en {
  background-image: url(../img/United-Kingdom-flag-icon.png);
  background-position-x: -149px;
  background-position-y: -29px;
}
.header .container .lang i .ru {
  background-image: url(../img/Russian-Federation-flag-icon.png);
  background-position-x: -217px;
  background-position-y: -27px;
}
.header .container .lang i .zh {
  background-image: url(../img/China-flag-icon.png);
  background-position-x: -149px;
  background-position-y: -29px;
}
.header .container .lang i .es {
  background-image: url(../img/Spain-flag-icon.png);
  background-position-x: -217px;
  background-position-y: -28px;
}
.header .container .lang i .de {
  background-image: url(../img/Germany-flag-icon.png);
  background-position-x: -149px;
  background-position-y: -29px;
}
.header .container .lang i:hover li {
  display: block;
  text-align: center;
  text-decoration: none;
}
.nav {
  width: 100%;
  float: left;
  background-color: #f0f0f0;
}
.nav .container h2 {
  padding: 12px;
  float: left;
  margin: 10px 0;
  margin-right: 20px;
}
.nav .container a {
  display: block;
  height: 77px;
  float: left;
  padding: 29px 10px 20px 10px;
  color: #333333;
  text-decoration: none;
}
.nav .container a:hover {
  text-decoration: underline;
  color: #f0f0f0;
  background-color: #254e72;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 40px;
}
.content {
  min-height: 100%;
  background-color: #f5f5f5;
  clear: both;
  padding-top: 19px;
  padding-bottom: 40px;
}
.content .container h2 {
  text-align: center;
  margin-bottom: 0;
  border-bottom: 1px solid black;
  padding-bottom: 32px;
}
.content .container .row1 {
  padding-bottom: 25px;
}
.content .container .row1 img {
  width: 100%;
}
.content .container .row2 {
  padding-bottom: 25px;
}
.content .container .row2 .block {
  margin-bottom: 15px;
  margin-top: 15px;
  float: left;
}
.content .container .row2 .block img {
  width: 50%;
  float: left;
  margin: 0px 15px;
}
.content .container .rowcurrent {
  padding-bottom: 25px;
}
.content .container .rowcurrent .block img {
  width: 80%;
  text-align: center;
}
.content .container .rowcurrent .block p {
  display: block;
  margin-top: 25px;
}
.clr {
  height: 100px;
}
footer {
  color: #d0d0d0;
  background-color: #00285f;
  padding-top: 20px;
  height: 100px;
  margin-top: -100px;
  text-align: center;
}
