@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Fira+Sans+Condensed:300,400,500,600,700,700i,900');
/*#010659 #011759 #0a3772 #254e72 #f2f2f2*/

.content {
  min-height: 100%;
  background-color: #f5f5f5;
  clear: both;
}
.content .formform {
	padding: 20px 40px 40px 40px;
}
.content .formform .form {
  display: block;
}
.content .formform .form .form_input {
  padding-top: 20px;
  float: left;
  width: 70%;
}
.content .formform .form .form_address {
  padding-left: 50px;
  overflow: hidden;
}
.content .formform .form .form_address i {
  margin-right: 20px;
}
.content .formform .form .bottom_send_form {
  height: 50px;
  width: 100px;
  padding: 0px 10px;
  margin: 0px auto;
  background-color: #f2f2f2;
}
.content .formform .form .bottom_send_form:hover {
  background-color: orange;
}
.content .formform .form .entry {
  border-style: solid;
  border-width: 1px;
  border-color: #efefef;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  height: 27px;
  padding-right: 20px;
  padding-left: 18px;
  margin-bottom: 10px;
}
.content .formform .form .usertext {
  border-style: solid;
  border-width: 1px;
  border-color: #efefef;
  box-sizing: border-box;
  background-color: #ffffff;
  min-height: 150px;
}
