.spma_title .title {
	text-align: center;
	padding: 10px 12px;
	font-family: fantasy;
}
.content .container .rowimg {
  background-color: #0A366D;
  margin-bottom: 55px;
}
.content .container .rowimg .carousel-inner > .item > img,
.content .container .rowimg .carousel-inner > .item > a > img {
  height: 550px;
  min-width: 90%;
  margin: auto;
}
.content .container .row1,
.content .container .row2{
  padding-bottom: 25px;
}
.content .container .index-row img {
  width: 100%;
  max-width: 600px;
}
.content .container .row2 img {
  width: 90%;
  max-width: 600px;
  float: left;
  margin: 0px 15px;
}
.content .container .row2 .description {
  clear: both;
  padding-top: 20px;
}
