@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Fira+Sans+Condensed:300,400,500,600,700,700i,900');
/*#010659 #011759 #0a3772 #254e72 #f2f2f2*/
* {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
  min-width: 900px;
}
.header {
    background-color: #0A366D;
    padding-top: 20px;
    padding-bottom: 30px;
}
.header .container .logo {
  width: 225px;
  height: 100px;
  background-image: url(../img/BSU.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
  float: left;
}
.header .container .signin {
  float: right;
  margin-top: 20px;
}
.header .container form {
    margin-top: 10px;
    width: 150px;
    float: right;
    height: 100px;
}
.header .container .lang {
    width: 149px;
    float: right;
    margin-top: 5px;
    list-style: none;
    text-align: center;
}
/*.header .container .signin {
    width: 100%;
    margin: auto;
    height: 20px;
}*/
.header .container .lang option {
    font-size: 20px;
    border: 1px solid black;
    /*display: none;
    font-size: 15px;
    text-decoration: none;
    background-repeat: no-repeat;
    margin-bottom: 1px;*/
}


.header .container i i:hover li {
  display: block;
  text-align: center;
  text-decoration: none;
}
.nav {
    width: 100%;
    float: left;
    background-color: #f0f0f0;
}
.nav .container h2 {
  padding: 12px;
  float: left;
  margin: 10px 0;
  margin-right: 20px;
}
.nav .container a {
  display: block;
  height: 77px;
  float: left;
  padding: 29px 10px 20px 10px;
  color: #333333;
  text-decoration: none;
}
.nav .container a:hover {
  text-decoration: underline;
  color: #f0f0f0;
  background-color: #254e72;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.content {
  min-height: 100%;
  background-color: #f5f5f5;
  clear: both;
  padding-top: 19px;
  
}
.content .container .rowimg {
  background-color: #0A366D;
  margin-bottom: 55px;
}
.content .container .rowimg .carousel-inner > .item > img,
.content .container .rowimg .carousel-inner > .item > a > img {
  height: 550px;
  min-width: 90%;
  margin: auto;
}
.content .container .row1 {
  padding-bottom: 25px;
}
.content .container .row1 img {
  width: 100%;
  max-width: 600px;
}
.content .container .row2 {
  padding-bottom: 25px;
}
.content .container .row2 img {
  width: 90%;
  max-width: 600px;
  float: left;
  margin: 0px 15px;
}
.content .container .row2 .description {
  clear: both;
  padding-top: 20px;
}
.clr {
  height: 100px;
}
footer {
  color: #d0d0d0;
  background-color: #00285f;
  padding-top: 20px;
  height: 100px;
  margin-top: -100px;
  text-align: center;
}
