<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://10.3.1.53:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>spma</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>spma_fre\spma_admin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SNILDepartment2" Order="1" Enabled="False">
          <Destination Path="Data Source=(local)\SQLEXPRESS;Persist Security Info=True;User ID=sa;Password=saSPMAadm54" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:10.3.1.53\sqlexpress,1433;Initial Catalog=spma_rfe_db;Integrated Security=False;User ID=spma_user;Password=userSPMAsite48#;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SNILDepartment2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=tcp:10.3.1.53\sqlexpress,1433;initial catalog=spma_rfe_db;integrated security=False;User Id=spma_user;Password=userSPMAsite48#;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SNILDepartment2-Web.config Connection String">
      <ParameterValue>data source=(local)\SQLEXPRESS;persist security info=True;user id=sa;password=saSPMAadm54;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>