<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>  
       <mailSettings>
            <smtp deliveryMethod="Network" from="tostersendersmtp@gmail.com">
                <network host="smtp.gmail.com" port="465" userName="Toster" password="Mysmpt465" enableSsl="true"/>
            </smtp>
        </mailSettings>
</system.net>
</configuration>