@using SnilAcademicDepartment.Resources.UnavaliableErrorResources;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	@Styles.Render("~/Errors/errorpage")
}
<div class="container snil_errorPage">
	@{
		object errorTitle = string.Empty;
		object errorMessage = string.Empty;

		bool containsTitle = ViewData.TryGetValue("Title", out errorTitle);
		bool containsErrorMessage = ViewData.TryGetValue("ErrorMessage", out errorMessage);
	}
	<h2 class="snil_unavailableErrorMessage">@Html.Raw(errorMessage ?? UnavaliableErrorResource.UnavaliableMessage)</h2>
</div>
