@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Fira+Sans+Condensed:300,400,500,600,700,700i,900');
/*#010659 #011759 #0a3772 #254e72 #f2f2f2*/
@media screen and (max-width: 993px) {
  .rows {
    text-align: center;
  }
  .rows img {
    display: inline;
    float: none;
    margin: 0px auto;
  }
  .rows h2 {
    clear: both;
  }
}

.content {
  min-height: 100%;
  background-color: #f5f5f5;
  clear: both;
  padding-top: 19px;
}
.content .container .HallofFame {
  text-align: center;
  margin-bottom: 15px;
}
.content .container .HallofFame .wrapper {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #333333;
  border: 1px solid #0A366D;
  border: 5px solid #0A366D;
  border-radius: 7px;
  padding: 15px;
}
.content .container .HallofFame .wrapper a {
  margin-right: 20px;
}
.content .container .HallofFame .wrapper a img {
  height: 120px;
}
.content .container .HallofFame .wrapper a img:hover {
  box-shadow: 0 0 10px #555;
}
.content .container .HallofFame .wrapper a p {
  clear: both;
}
.content .container .rows {
  padding-bottom: 25px;
}
.content .container .rows a {
  display: block;
  height: 100%;
}
.content .container .rows a img {
  display: block;
  height: 165px;
  float: left;
  margin-right: 15px;
}
.content .subpage h2 {
  text-align: center;
  margin-bottom: 0;
  border-bottom: 1px solid black;
  padding-bottom: 32px;
}
.content .subpage .row1 {
  padding-bottom: 25px;
}
.content .subpage .row1 img {
  width: 100%;
}
.content .subpage .row2 {
  padding-bottom: 25px;
}
.content .subpage .row2 .block {
  margin-bottom: 15px;
  margin-top: 15px;
  float: left;
}
.content .subpage .row2 .block img {
  width: 50%;
  float: left;
  margin: 0px 15px;
}
.content .subpage .rowcurrent {
  padding-bottom: 25px;
}
.content .subpage .rowcurrent .block img {
  width: 80%;
  text-align: center;
}
.content .subpage .rowcurrent .block p {
  display: block;
  margin-top: 25px;
}

