@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Fira+Sans+Condensed:300,400,500,600,700,700i,900');
/*#010659 #011759 #0a3772 #254e72 #f2f2f2*/

.page-header {
    padding-bottom: 6px;
    border-bottom: 1px solid #afaeae;
}
.content {
    min-height: 100%;
    background-color: #f5f5f5;
    clear: both;
    padding-top: 19px;
    padding-bottom: 40px;
}
.content .container h2 {
  text-align: center;
  margin-bottom: 0;
  /*border-bottom: 1px solid black;*/
  padding-bottom: 32px;
}
.content .container .rowcurrent {
  padding-bottom: 25px;
}
.content .container .rowcurrent .block {
  display: block;
  margin-bottom: 20px;
  padding: 5px 20px 15px 20px;
}
.content .container .rowcurrent .block:hover {
    box-shadow: 0 0 10px #555;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
}
.flex-container .thumbnail {
    min-height: 312px;
}
.block .speaker-list {
    text-decoration: none;
    list-style-type: none;
    /* BOTH of the following are required for text-overflow */
    white-space: nowrap;
    overflow: hidden;
}
.speaker-list .speaker {
	text-overflow: ellipsis;
	padding-left: 10px;
}
.block .seminar-content {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
}
.seminar-content-p {
    font-size: 15px;
    width: 100%;
    padding: 4px 8px;
}