@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Fira+Sans+Condensed:300,400,500,600,700,700i,900');
/*#010659 #011759 #0a3772 #254e72 #f2f2f2*/

.content {
  min-height: 100%;
  background-color: #f5f5f5;
  clear: both;
  padding-top: 19px;
  padding-bottom: 40px;
}
.content .container h2 {
  text-align: center;
  margin-bottom: 0;
  border-bottom: 1px solid black;
  padding-bottom: 32px;
}
.content .container .row1 {
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.content .container .row1 img {
  width: 100%;
}
.content .container .row2 {
  padding-bottom: 25px;
}
.content .container .row2 ul {
  text-decoration: none;
  list-style-type: none;
  padding-top: 45px;
}
.content .container .row2 ul li {
  text-align: center;
  border-left: 1px solid black;
}
.content .container .row2 ul li:hover {
  background-color: #333333;
  color: #f5f5f5;
}
.content .container .rowcurrent {
  padding-bottom: 25px;
}
.content .container .rowcurrent .block {
  display: block;
  margin-bottom: 20px;
  padding: 5px 20px 15px 20px;
}
.content .container .rowcurrent .block:hover {
    box-shadow: 0 0 10px #555;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
}
