<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>СНИЛ</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../other/bootstrap.css">
    <link rel="stylesheet" type="text/javascript" href="../other/bootstrap.js">
    <link rel="stylesheet" type="text/css" href="../other/font-awesome.css"> 

    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    
        <div class=header>
            <div class="container">
                <a href="#" class="logo"></a>
                <ul class="lang">      <i class="fa fa-language fa-2x">            
                    <li class="en"><a href="#">en</a></li>
                    <li class="ru"><a href="#">ru</a></li>
                    <li class="zh"><a href="#">zh-cn</a></li>
                    <li class="es"><a href="#">es</a></li>
                    <li class="de"><a href="#">de</a></li></i>   
                </ul>
                <a class="signin btn btn-default" href="#" role="button">Sign In</a>   
            </div>
        </div>
        <div class="nav">
            <div class="container">
                <h2>BSU SNIL</h2>
                
                <a href="../index.html">Главная</a>                   
                <a href="projects.html">Проекты</a>
                <a href="../education/education.html">Обучение</a>
                <a href="../peoples/people.html">Персонал</a>
                <a href="../history/history.html">История</a>
                <a href="../contacts&aboutus/contacts.html">Контакты</a>
                <a href="../contacts&aboutus/about_us.html">О нас</a>
                
            </div>
        </div>
        <div class="content">
            
        </div>
        <div class="clr"></div>
    <footer>
            <div class="container">
                <p>&copy; Белорусский государственный университет<br />
Адрес: пр.&nbsp;Независимости, 4, 220030, г.&nbsp;Минск, Республика Беларусь.<br />
Тел. + 375 17&nbsp;209 50 44. Факс. + 375 17&nbsp;226 59 40. Url: <a href="http://bsu.by" target="_blank"> www.bsu.by</a>.</p>
            </div>
    </footer>
</body>
</html>