@{
    ViewBag.Title = "Persons";
    @Styles.Render("~/Content/persons")
}
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="../index.html">Главная</a>
        </li>
        <li class="active">Персонал</li>
    </ol>
</div>
<div class="container">
    <div class="row HallofFame">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="#">
                <img src="../img/BSU3.jpg" alt="dicriptiom">
                <img src="../img/BSU3.jpg" alt="dicriptiom">
                <img src="../img/BSU3.jpg" alt="dicriptiom">
                <img src="../img/BSU3.jpg" alt="dicriptiom">
                <img src="../img/BSU3.jpg" alt="dicriptiom">
                <h2>Доска почета</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores aspernatur maxime dicta, incidunt velit dolorum sint praesentium quia sit, impedit, voluptatum expedita excepturi odit eius ipsam veritatis voluptas cupiditate nostrum doloremque consequatur. Magni molestiae at rerum unde distinctio, repudiandae debitis ex eaque repellendus id ipsam nobis, veritatis corporis cupiditate officia.</p>
            </a>
        </div>
    </div>
    <div class="row rows">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="#">
                <img src="../img/BSU3.jpg" alt="dicriptiom">
                <h2>Преподаватели</h2>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, maxime! Optio voluptatem doloribus illum beatae dolor voluptatibus officiis ut in.</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="ms.html">
                <img src="../img/BSU3.jpg" alt="dicriptiom">
                <h2>MS Program</h2>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quis sequi eos incidunt expedita obcaecati vitae delectus quo sint, animi?</p>
        </div>
    </div>
    <div class="row rows">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="phd.html">
                <img src="../img/BSU3.jpg" alt="dicriptiom">
                <h2>PhD Program</h2>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ullam, repellat vel consectetur consequuntur eaque ea enim aliquam itaque architecto.</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="#">
                <img src="../img/BSU3.jpg" alt="dicriptiom">
                <h2>Абитуриенты</h2>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam perferendis minima nostrum eius laboriosam doloribus dolorem aspernatur? Maiores, expedita, optio.</p>
        </div>
    </div>
    <div class="row rows">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="students.html">
                <img src="../img/BSU3.jpg" alt="dicriptiom">
                <h2>Студенты</h2>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ullam, repellat vel consectetur consequuntur eaque ea enim aliquam itaque architecto.</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="administration.html">
                <img src="../img/BSU3.jpg" alt="dicriptiom">
                <h2>Administration</h2>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam perferendis minima nostrum eius laboriosam doloribus dolorem aspernatur? Maiores, expedita, optio.</p>
        </div>
    </div>
</div>