@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Fira+Sans+Condensed:300,400,500,600,700,700i,900');
/*#010659 #011759 #0a3772 #254e72 #f2f2f2*/
@media screen and (max-width: 1200px) {
  .row2 {
    text-align: center;
  }
  .row2 img {
    padding-bottom: 20px;
  }
  .row2 h4 {
    clear: both;
  }
}
.content {
  min-height: 100%;
  background-color: #f5f5f5;
  clear: both;
  padding-top: 19px;
  padding-bottom: 40px;
}
.content .container h2 {
  text-align: center;
  margin-bottom: 0;
  border-bottom: 1px solid black;
  padding-bottom: 32px;
}
.content .container .row1 {
  padding-bottom: 25px;
}
.content .container .row1 img {
  width: 100%;
}
.content .container .row2 {
  padding-bottom: 25px;
}
.content .container .row2 .block {
  margin-bottom: 15px;
  margin-top: 15px;
  float: left;
}
.content .container .row2 .block img {
  width: 50%;
  float: left;
  margin: 0px 15px;
}
.content .container .rowcurrent {
  padding-bottom: 25px;
}
.content .container .rowcurrent .block img {
  width: 80%;
  text-align: center;
}
.content .container .rowcurrent .block p {
  display: block;
  margin-top: 25px;
}
