@{
    ViewBag.Title = "IEEE";
    @Styles.Render("~/Content/history")
}
<div class="container">
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(Resources.Resource.Home, "Index", "Home")
        </li>
        <li>
            @Html.ActionLink(Resources.Resource.History, "History", "History")
        </li>
        <li class="active">Отчеты</li>
    </ol>
</div>
<div class="container">
    <!--<h3>Добро пожаловать в Студентческую Научно-Исследовательскую Лабораторию!</h3>-->

    <div class="row row1">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="img/DSC_3577.jpg" alt="">
            <div class="projects">
                <h4>Проекты</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident consequuntur quos dicta obcaecati ut error eius harum. A magnam ex provident officiis aspernatur architecto culpa, quasi dolorem delectus, error repellendus pariatur odit similique! Dolorum quasi odio molestiae tempora inventore molestias, vel illum, rerum sint, dolores id. Alias quos porro quibusdam!</p>
                <a href="projects/projects.html">Read more...</a>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="img/05.jpg" alt="">
            <div class="education">
                <h4>Обучение</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nam et, magnam voluptates quod suscipit modi praesentium ducimus voluptas qui eos, quidem quam saepe voluptatem sed quo velit repellat magni error assumenda aliquid amet excepturi voluptatum officiis! Unde eius tempora saepe asperiores, quia obcaecati at qui, officia, alias aperiam autem.</p>
                <a href="education/education.html">Read more...</a>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="img/DSC_3533.jpg" alt="">
            <div class="person">
                <h4>Персонал</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ad laudantium, quae deleniti et dignissimos consequuntur rerum porro voluptate quos, eveniet magni, quam, explicabo impedit libero sit accusantium corrupti cupiditate repudiandae reprehenderit! Officiis quas reiciendis modi enim adipisci voluptatibus neque atque facilis a, ullam earum dicta hic, quae asperiores consequatur.</p>
                <a href="peoples/people.html">Read more...</a>
            </div>
        </div>
    </div>
    <div class="row row2">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <img src="img/DSC_3607.jpg" alt="">
            <div class="history">
                <h4>История</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum eaque quos maxime ipsam, officia soluta doloremque voluptatibus, deleniti ipsa animi libero beatae alias modi suscipit, ab labore architecto consequatur ratione tempora id vel optio distinctio porro accusamus. Adipisci a esse voluptatum aliquam eaque? Quo, tenetur odit aperiam ad quidem voluptatum?</p>
                <a href="history/history.html">Read more...</a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <img src="img/DSC_3616.jpg" alt="">
            <div class="contacts">
                <h4>Контакты</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non tempora similique dolorem quis sint impedit magni itaque ipsum omnis maxime, vitae, officiis unde incidunt eius deleniti facere nam temporibus facilis fuga. Iusto facere mollitia libero error tempore, ratione, nisi necessitatibus, quas exercitationem similique optio nihil vitae enim accusamus. Dolores, explicabo!</p>
                <a href="contacts/contacts.html">Read more...</a>
            </div>
        </div>
    </div>
</div>
