@{
    ViewBag.Title = "History";
    @Styles.Render("~/Content/historycss")
}
<div class="container">
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(Resources.Resource.Home, "Index", "Home")
        </li>
        <li>
            @Html.ActionLink(Resources.Resource.History, "History", "History")
        </li>
        <li class="active">Отзывы</li>
    </ol>
</div>
<div class="container">
    <!--<h3>Добро пожаловать в Студентческую Научно-Исследовательскую Лабораторию!</h3>-->

    <p style="text-align: center; text-shadow:10px 12px 2px #808080"><strong>Sorry, this education block is not avaliable :(</strong></p>
</div>