html body {
  background-color: goldenrod;
  padding-top: 50px;
}
html body header {
  background-color: yellowgreen;
  text-align: center;
}
html body header ul {
  text-decoration: none;
  list-style: none;
  padding-bottom: 5px;
}
html body header ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
html body header ul li a {
  display: block;
  width: 100%;
}
html body header ul li:hover {
  border-color: olive;
}
html body header ul li:hover a {
  background-color: olive;
}
html body .content .image {
  height: 200px;
  width: 150px;
  background-image: url(../img/BSU3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  margin-right: 30px;
}
html body footer {
  background-color: darkblue;
  height: 100px;
  clear: both;
}
